<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @input.task_id %>
</p>

<p>
  <b>Name:</b>
  <%= @input.name %>
</p>

<p>
  <b>Score:</b>
  <%= @input.score %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
