<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Tle:</b>
  <%= @task.tle %>
</p>

<p>
  <b>Mle:</b>
  <%= @task.mle %>
</p>

<p>
  <b>Body:</b>
  <pre><%= @task.body %></pre>
</p>

<p>
  <b>Judge type:</b>
  <%= @task.judge_type %>
</p>
