<h1>Listing contests</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Begin</th>
    <th>End</th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.name %></td>
    <td><%= contest.begin %></td>
    <td><%= contest.end %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
