<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contest.name %>
</p>

<p>
  <b>Begin:</b>
  <%= @contest.begin %>
</p>

<p>
  <b>End:</b>
  <%= @contest.end %>
</p>

<%= link_to 'Back', contests_path %>
