<!DOCTYPE html>
<html>
<head>
  <title><%= Contest.exists?(params[:id]) ? Contest.find(params[:id]).name : "Judge" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="prettyPrint()">

  <div class="row-fluid">
    <div class="span3">
      <ul class="mn">
	<li class="i">link</li>
<!--        <li class="i"><a href="/judge">トップ</a></li>-->
        <% id = params[:id] %>
        <% if Contest.exists?(id) %>
        <li class="i"><a href="/judge/<%= id %>">問題</a></li>
        <li class="i"><a href="/judge/<%= id %>/submit">提出</a></li>
        <li class="i"><a href="/judge/<%= id %>/submittion">提出状況</a></li>
	<li class="i"><a href="/judge/<%= id %>/my">自分の提出</a></li>
	<li class="i"><a href="/judge/<%= id %>/ranking">順位表</a></li>
        <% end %>
        <% if session[:user_id] %>
        <li class="i"><a href="/logout">ログアウト</a></li>
        <% else %>
        <li class="i"><a href="/login">ログイン</a></li>
        <% end %>
      </ul>
      <% if Contest.exists?(id) %>
      <% con = Contest.find(id) %>
      <% t = Time.now %>
      <ul class="mn">
	<li class="i">開始</li>
	<li class="i"><%= con.begin %></li>
      </ul>
      <ul class="mn">
	<li class="i">終了</li>
	<li class="i"><%= con.end %></li>
      </ul>
      <ul class="mn">
	<li class="i">状態</li>
        <li class="i"><%= t<con.begin ? "まだ始まってない" : t>con.end ? "終わった" : "コンテストいずらんにんぐ" %></li>
      </ul>
      <% end %>
      <% if !session[:user_id] %>
      <p class="err">ログインしないとほとんどの機能が使えません</p>
      <% end %>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
